* {
    margin: 0;
    padding: 0;
}


.header{
	background:white;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-self:center;
	
}


.main{
	background:black;
	color:white;
	
}


* {
    margin: 0;
    padding: 0;
}


.header{
	background:white;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-self:center;
	
}

.nav{
	font-size:20px;
	text-decoration:none;
	color:black;
	padding:8px;
}

.navbar{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a:hover{
	border-bottom: 5px solid rgb(41, 169, 255);
}

.main{
	background:black;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
}

.sections{
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}

.ic{
	font-size: 14px;
    font-weight:normal;
	
}

.name{
	font-size:22px;
	font-weight:bold;
}

.time{
	font-size:15px;
	font-weight:normal;
}
 
 
.box{
	width:30%;
	position:relative;
	padding:8px;
	margin:10px;
	height:350px;
	background: url('ben10.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box1{
	width:30%;
	position:relative;
	padding:8px;
	margin:10px;
	height:350px;
	background: url('OKOK.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box2{
	width:30%;
	position:relative;
	padding:8px;
	margin:10px;
	height:350px;
	background: url('pokemon.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box3{
	width:27%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('steve.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box4{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('We.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}
.box5{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('power.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box6{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('show.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box7{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('advent.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box8{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('apple.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box9{
	width:28%;
	position:relative;
	padding:8px;
	margin:5px;
	height:290px;
	background: url('mao.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box10{
	width:28%;
	position:relative;
	padding:8px;
	margin:10px;
	height:290px;
	background: url('gum.jpg') no-repeat;
	background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
}

.box:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover,
.box8:hover,
.box9:hover,
.box10:hover{
	opacity: .75;
	transform: scale(1.06);
	transition: 0.3s ease-in-out;
	
}


.l2{
	background-color:rgb(212, 212, 212);
	color:rgb(0,0,0);
	padding:30px;
	display: flex;
    flex-direction: column;
}

.headings{
	font-size:28px;
	font-weight:bold;
	padding:20px;
}

.content{
	font-size:17px;
	padding-bottom:30px;
	padding-left:20px;
}

.about{
	background-color: rgb(32, 32, 32);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acon{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
    height: auto;
    color: rgb(247, 247, 247);
}

.ae{
	font-size:15px;
	padding:12px;
	color:rgb(242, 238, 237);
	text-decoration:none;
}

.cr{
	font-size:12px;
	color:rgb(107, 107, 107);
}

.ae:hover{
	color: rgb(0, 155, 194);
}

.corus{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	margin:50px;
}

.corus img{
	width:100px;
	margin:15px;
}

.corus img:hover{
	opacity:0.7;
}

.others{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	width:auto;
}

.others img{
	width:90px;
	margin:30px;
	opacity:0.6;
}

.others img:hover{
	opacity:0.9;
}